.d-l-card{
    width: 100%;
    height: 232px;
    background-color: aliceblue;
    border-radius: 8px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: stretch;
}
.d-l-card p{
    margin: 2px 0px;
}
.d-l-c-link{
    text-decoration: none;
    color: black;
    width: 100%;
}
.d-l-c-img{
    width: 180px;
    border-radius: 4px;
}
.d-l-c-img img{
    text-align: center;
    width: 100%;
    height: 214px;
    box-sizing: border-box;
    object-fit: cover;
    border-radius: 4px;
    border: 6px solid rgb(255, 255, 255);

}
.d-l-c-info{
    flex:1;
    padding-left: 8px;
}

.d-l-c-name-n-status{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.d-l-c-degrees{
    margin: 8px 0px;
}
.d-l-c-degrees p{
    display: flex;
    align-items: center;
}
.d-l-c-degrees p:nth-child(1) .dots {
    background-color: rgb(0, 73, 0);
}

.d-l-c-degrees p:nth-child(2) .dots {
    background-color: rgb(94, 0, 94);
}

.d-l-c-degrees p:nth-child(3) .dots {
    background-color: goldenrod;
}
.dots{
    height: 10px;
    width: 10px;
    margin-right: 4px;
    border-radius: 100%;
    background-color: olivedrab;
}
.s-normal{
    color: rgb(33, 2, 2);
    font-weight: bold;
}
.s-fee-p{
    padding: 0px 0px;
    font-size: large;
}
.s-fees{
    color: rgb(18, 81, 50);
    font-weight: bold;
}
.d-l-c-btn-row{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.d-l-c-btn{
    padding:10px 14px;
    margin: 4px 0px;
    border-radius: 4px;
    outline: none;
    border: none;
    background-color: navy;
    color: white;
    font-size: medium;
}
.d-l-c-btn:hover{
    cursor: pointer;
    background-color: black;
}