.login-page{
   height: 100vh;   
   display: flex;
}
.login-page-logo-wrapper{
   text-align: center;
   margin-bottom: 12px;
}
.login-page-logo{
    width: 40%;
    border-radius: 100%;
}
.login-page-welcome{
    color: rgb(39, 21, 69);
    font-size: larger;
    font-weight: bold;
}
.login-form-wrapper{
    background-color:aliceblue;
    width: 400px;
    margin:auto;
    border-radius: 12px;
    padding: 40px;
}

.login-form{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.login-input{
    width: 100%;
    box-sizing: border-box;
    padding:12px 10px;
    border-radius: 8px;
    outline: none;
    border:3px solid rgb(222, 222, 249);
    margin: 4px 0px 8px 0px;
}

.login-btn{
    cursor: pointer;
    margin-top: 3px;
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    outline: none;
    border: none;
    background-color: navy;
    color: white;
    font-size: larger;
    font-weight: bold;
}

.signUpSuggestion{
    text-align: left;
    margin-top:12px;
    font-size: small;
    color: black;
}
.signUpLink{
    color: darkgreen;
    font-weight: bold;
    cursor: pointer;
}

.warning-text{
    margin-left: 4px;
    color: rgb(200, 0, 0);
}