.home-page{

}

.welcome-banner{
    margin: 0 auto;
    max-width: 1400px;
    padding: 40px 50px;
    display: flex;
    flex-direction: row;
    text-align: justify;
    align-items: center;
    justify-content: space-evenly;
    border-bottom-right-radius: 14px;
    border-bottom-left-radius: 14px;
}

.banner-data{
    flex: 1.5;
    margin: auto;
    text-align: center;
}
.banner-title{
    color:rgb(30, 35, 105);
    margin: 10px 0px;
    font-size: 42px;
    font-weight: bold;
}
.banner-para{
    margin-bottom: 15px;
}
.banner-btn{
    background-color: rgb(30, 35, 105);
    color: white;
    outline: none;
    border: none;
    border-radius: 8px;
    padding: 14px;
    width: 30%;
    font-weight:500;
    font-weight: bolder;
}
.banner-btn:hover{
    background-color: rgb(41, 27, 133);
    cursor: pointer;
}
.banner-img{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.banner-img-file{
    width: 70%;
}

@media (max-width: 800px) {
    .welcome-banner{
        align-items: center;
        justify-content: center;
        flex-direction: column-reverse;
    }
    .banner-title{
        font-size: x-large;
    }
    p{
        font-size: 14px;
        color: #666;
        margin-top: 5px;
    }
    .banner-btn{
        width: 100%;
    }
    .banner-img-file{
    }
}

/*---------------------------------*/


.section-header{
    text-align: center;
}
.header{
    font-size: 50px;
    padding: 20px;
    color: navy;
}


/*------------------------------*/


.service-section-wrapper {
    max-width: 1400px;
    margin: auto;
    display: flex;
    justify-content: center;
    padding: 20px;

}

.service-section {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 20px; 
    width: 100%;
    max-width: 1200px;
}

.service-card-container {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: white;
    border-radius: 8px;
    padding: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.service-card-container:hover {
    transform: translateY(-5px);
}

.service-image-section {
    width: 100%;
    height: 150px;
    overflow: hidden;
    border-radius: 8px;
}

.service-card-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.text-section {
    margin-top: 10px;
}

.text-section h3 {
    font-size: 18px;
    font-weight: 600;
    margin: 0;
}

.text-section p {
    font-size: 14px;
    color: #666;
    margin-top: 5px;
}





/* Responsive Design */
@media (max-width: 1024px) {
    .service-section {
        grid-template-columns: repeat(2, 1fr); 
    }
    .header{
        font-size: 20px;
        color: navy;
    }
}

@media (max-width: 700px) {
    .service-section {
        grid-template-columns: 1fr;
    }
}
