@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
    background-color: white;
}

#root{

}


/*-----------------------------------------------------*/
/*                     Nav Section                     */
/*-----------------------------------------------------*/

.nav-bar-wrapper{
    background-color: white;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 100;
}
.nav-bar-wrapper-onScrollY{

}

.nav-bar{
    max-width: 1400px;
    margin:0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid gainsboro;
}

.nav-bar-item{
    min-width: 100px;
    flex: 1;
    display: inline-block;
    color: rgb(3, 31, 21);
    padding: 24px;
    font-size: large;
    font-weight:500;
    text-decoration: none;
}
.nav-bar-item:hover{
    color: navy;
    text-decoration: underline;
}

.profile-nav{
    flex: 1;
    text-align: right;
    padding-right: 16px;
}

.logo-section{
    flex: 1;
    display: flex;
    align-items: center;
}
.logo-and-dom{
    display: flex;
    align-items: center;
}
.logo{
    height: 55px;
    width: 55px;
    object-fit: cover;
}
.domain{
    color:rgb(41, 56, 4);
}

.hamburger-mobile{
    display: none;
}

/* Responsive Nav */

@media only screen and (max-width: 1000px) {
    .nav-bar-wrapper{

    }
    .nav-bar-wrapper-onScrollY{
    }
    
    .nav-bar{
        flex: 1;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
    }
    .nav-items{
        position: relative;
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .nav-bar-item{
        color: rgb(3, 31, 21);
        padding: 14px 0px;
        padding-left: 10px;
    }
    .off-nav-bar-items{
        display: none;
    }
    .nav-bar-item:hover{
        color: navy;
        text-decoration: underline;
        background-color: aliceblue;
    }
    
    .profile-nav{
        display: none;
    }
    
    .logo-section{
        width: 100%;
        justify-content: space-between;
    }
    .logo{
        height: 50px;
        width: 50px;
        object-fit: cover;
    }
    .domain{
        padding:14px 10px;
        color:rgb(41, 56, 4);
    }
    .hamburger-mobile{
        padding:14px 10px;
        display: block;
        background-color: rgb(255, 255, 255);
    }
    .menu-icon {
        color: rgb(12, 12, 53);
        font-size: 24px;
        cursor: pointer;
      }
      .footer{
        flex-direction: column;
      }
      .f-section-col{
        width: 100%;
      }
      
  }

/*-----------------------------------------------------*/
/*                     End Section                     */
/*-----------------------------------------------------*/


.footer{
    padding: 20px;
    background-color:navy;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    text-align: justify;
}
.f-section-col{
    flex: 1;
}
.footer h3{
    color: white;
    margin:8px 0px;
}
.footer img{
    border-radius: 100%;
}
.footer p{
    margin: 12px 0px;
    color: rgb(255, 255, 255);
}

.f-navs{
    display: flex;
    flex-direction: column;
}
.f-nav-item{
    color: white;
    padding: 4px 0px;
    text-decoration: none;
    cursor: pointer;
}
.f-nav-item:hover{
    color: whitesmoke;
}
.end{
    text-align: center;
    background-color: rgb(5, 0, 15);
    color: white;
    padding:5px;
}

i{
    margin-right: 8px;
    text-align: center;
    width: 20px;
}

